<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yishutansuodemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zhang_3.activity.AnimationScrollerMoveActivity"></activity>
        <activity android:name=".zhang_3.activity.FullScreenMoveActivity" />
        <activity android:name=".zhang_3.activity.ParamMoveDemoActivity" />
        <activity android:name=".zhang_3.activity.ObjectAnimationMoveDemoActivity" />
        <activity android:name=".zhang_3.activity.AnimationMoveDemoActivity" />
        <activity android:name=".zhang_3.activity.ScrollerActivity" />
        <activity android:name=".zhang_3.activity.ScrollToScrollByDemoActivity" />
        <activity android:name=".zhang_3.activity.GestureDetector3Activity" />
        <activity android:name=".zhang_3.activity.GestureDetector2Activity" />
        <activity android:name=".zhang_3.activity.GestureDetector1Activity" />
        <activity android:name=".zhang_3.activity.VelocityActivity" />
        <activity android:name=".zhang_3.activity.TouchSlopActivity" />
        <activity android:name=".zhang_3.Zhang3MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".zhang_2.service.MyService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter >
                <action android:name="myservice"/>
            </intent-filter>
        </service>
    </application>

</manifest>